@mixin newFont($family,$pathName) {

    @font-face {
        font-family: '#{$family}';
        src: url('/public/fonts/#{$pathName}.eot');
        src: url('/public/fonts/#{$pathName}.eot?iefix') format('emdded-opentype'),
             url('/public/fonts/#{$pathName}.woff2') format('woff2'),
             url('/public/fonts/#{$pathName}.woff') format('woff'),
             url('/public/fonts/#{$pathName}.ttf') format('truetype'),
             url('/public/fonts/#{$pathName}.svg##{$pathName}') format('svg');
        font-weight: normal;
        font-style: normal;
    }

}

//@include newFont('reg','reg');


@include newFont('icon','icomoon');
@include newFont('reg','Roboto-Regular');